* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  color: #2c3843; }

main,
section,
.footer-container,
.header-container,
.web-links {
  margin: auto;
  max-width: 1460px;
  padding: 0 30px; }

/* .margin-left {
  margin-left: 10%;
} */
/* .margin-right {
  margin-right: 10%;
}
 */
h3 {
  font-size: 1.3rem;
  margin: 30px 0 20px; }

header {
  background-image: url("../img/header-img.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.header-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap; }
  .header-container h1 {
    color: #ff681d;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 3.5rem; }
  .header-container h2 {
    font-weight: 400;
    font-size: 1.3rem;
    color: #eeeff0; }
  .header-container ul {
    display: flex;
    flex-direction: row; }
    .header-container ul li:first-child {
      border-right-width: thin;
      border-right-style: solid;
      border-right-color: #eeeff0; }
    .header-container ul li {
      font-size: 1.2rem;
      padding: 8px 30px;
      position: relative; }
    .header-container ul .cart-status {
      display: block;
      width: 20px;
      height: 20px;
      top: -2px;
      left: 49px;
      border-radius: 50%;
      position: absolute;
      background-color: #59aee1;
      color: #eeeff0;
      text-align: center;
      font-size: 0.8rem;
      font-weight: bold;
      line-height: 18px; }
  .header-container i {
    font-size: 1.6rem;
    padding-right: 10px;
    color: #eeeff0; }

.border-gradient {
  flex: 1;
  height: 10px;
  background: #ffbe43;
  background: linear-gradient(90deg, #ffbe43 0%, #ff681d 100%); }

nav .web-links {
  display: flex;
  text-align: center;
  padding: 20px 30px; }
  nav .web-links a {
    padding: 10px;
    color: #2c3843;
    font-weight: 500; }
nav hr {
  opacity: 0.3; }

main {
  display: flex;
  flex-direction: column; }
  main .step-progress-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    padding: 50px 0; }
    main .step-progress-bar li {
      display: inline-block;
      position: relative;
      width: 20%;
      color: #8999a5;
      font-weight: 400;
      font-size: 1.1rem;
      text-align: center;
      margin: 15px 0; }
    main .step-progress-bar li:before {
      display: block;
      content: "";
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;
      line-height: 50px;
      background-color: #dadde0;
      margin: 10px auto;
      position: relative;
      z-index: 2; }
    main .step-progress-bar li:after {
      content: "";
      width: 100%;
      height: 5px;
      top: 22px;
      left: -50%;
      position: absolute;
      background-color: #dadde0;
      z-index: 1; }
    main .step-progress-bar li:first-child:after {
      content: none; }
    main .step-progress-bar li:nth-child(1)::before,
    main .step-progress-bar li:nth-child(2)::before {
      background-color: #ff681d; }
    main .step-progress-bar li:nth-child(2)::after {
      background-color: #ff681d; }
    main .step-progress-bar .step-active {
      color: #ff681d;
      font-weight: bold; }
    main .step-progress-bar .step-active:before {
      background-color: #ff681d; }
  main .addresses-container {
    display: flex;
    margin: 30px 0;
    flex-wrap: wrap;
    font-size: 1.1rem; }
    main .addresses-container .address {
      background-color: #f4f6f7;
      padding: 30px;
      margin-right: 30px;
      margin-bottom: 30px;
      min-width: 310px;
      border: solid 7px transparent; }
      main .addresses-container .address li:first-child {
        font-weight: bold; }
      main .addresses-container .address li {
        padding: 5px; }
    main .addresses-container .selected {
      border-color: #dadde0; }
      main .addresses-container .selected button:first-child {
        background-color: #2c3843;
        text-align: center; }
        main .addresses-container .selected button:first-child i {
          color: #eeeff0;
          font-size: 1.1 rem;
          padding-right: 10px; }
    main .addresses-container .passive {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center; }
      main .addresses-container .passive li {
        justify-self: center; }
      main .addresses-container .passive i {
        font-size: 4rem;
        opacity: 0.3; }
  main .address-info {
    background-color: #ffb81d;
    color: #eeeff0;
    padding: 20px 20px; }
    main .address-info i {
      color: #eeeff0;
      font-size: 1.3rem;
      padding-right: 10px;
      text-align: center; }
    main .address-info b {
      color: #eeeff0; }
    main .address-info strong {
      font-weight: 500; }

.shipping-order-container {
  display: flex;
  flex-direction: column; }
  .shipping-order-container .order-container {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f6f7;
    padding: 30px; }
    .shipping-order-container .order-container strong {
      font-weight: 500;
      align-self: flex-start; }
    .shipping-order-container .order-container .order-info {
      display: flex;
      flex-direction: column; }
      .shipping-order-container .order-container .order-info strong {
        margin-bottom: 10px; }

.contact-info {
  display: flex;
  flex-direction: column; }
  .contact-info textarea {
    font-size: 1.2rem;
    padding: 10px;
    opacity: 0.6; }
  .contact-info .btn2 {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #ff681d;
    font-weight: 500;
    font-size: 1.2rem; }
  .contact-info .buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0; }
    .contact-info .buttons-container :nth-child(2) {
      background-color: #59aee1;
      padding: 12px 10px; }

.button-container {
  margin-top: 20px; }

.btn {
  cursor: pointer;
  background-color: #ff681d;
  border: none;
  color: white;
  padding: 10px 30px;
  min-width: 130px;
  text-align: center;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 50px;
  text-transform: uppercase; }

.icon-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-left: 15px; }
  .icon-btn i {
    font-size: 1.2rem;
    opacity: 0.2; }

footer {
  background-color: #2c3843;
  padding: 40px 0 60px; }
  footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap; }
    footer .footer-container li {
      text-transform: uppercase; }
  footer span {
    color: #eeeff0;
    font-size: 0.8rem;
    font-weight: 300;
    opacity: 0.5; }
  footer h2 {
    color: #ff681d;
    font-size: 1.6rem;
    display: inline;
    font-weight: bold;
    margin-right: 20px; }
  footer ul {
    display: flex;
    justify-content: center; }
  footer li {
    position: relative;
    padding: 0 7px; }
  footer li::before {
    display: block;
    position: absolute;
    top: -1px;
    left: 54px;
    content: "|";
    font-size: 1.1rem;
    color: #dadde0;
    opacity: 0.5; }
  footer li:nth-child(1)::before {
    left: 54px; }
  footer li:nth-child(2)::before {
    left: 89px; }
  footer li:nth-child(3)::before {
    left: 79px; }
  footer li:nth-child(4)::before {
    left: 104px; }
  footer li:nth-child(5)::before {
    content: none; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }

/*# sourceMappingURL=style.css.map */
